<nav aria-label="">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: this.currentPage == 1 }">
      <button
        class="page-link"
        [disabled]="this.currentPage == 1"
        (click)="onPreviousPage()"
      >
        Previous
      </button>
    </li>

    <!-- <div *ngFor="let page; in: totalPages">
      <li class="page-item" [ngClass]="{ active: this.currentPage == page }">
        <button class="page-link" (click)="onChangePage(page)">
          {{ page }}
        </button>
      </li>
    </div> -->

    <li class="page-item">
      <button
        class="page-link"
        [ngClass]="{
          disabled: this.currentPage == this.totalPages
        }"
        (click)="onNextPage()"
        [disabled]="this.currentPage == this.totalPages"
      >
        Next
      </button>
    </li>
  </ul>
</nav>
