<div class="row product-details">
  <div class="col-sm-6">
    <img class="product-img" src="{{ productData.image }}" alt="" />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{ productData.name }}</h1>
      <h3>Price : {{ productData.price }}</h3>
      <h6>Description : {{ productData.description }}</h6>
      <button class="btn btn-secondary" (click)="onAddToCart()">
        Add to Cart
      </button>

      <div class="quantity-group">
        <button
          class="btn btn-secondary"
          *ngIf="isCartExists"
          (click)="handleQuantity('min')"
        >
          -
        </button>
        <input type="text" value="{{ productSelectedQuantity }}" />
        <button
          class="btn btn-secondary"
          *ngIf="isCartExists"
          (click)="handleQuantity('plus')"
        >
          +
        </button>
      </div>

      <div class="d-flex">
        <button
          class="btn btn-secondary"
          *ngIf="isCartExists && isItemExists"
          (click)="onRemoveFromCart(productData.id)"
        >
          Remove From Cart
        </button>

        <button class="btn btn-secondary" (click)="onBuyNow()">Buy Now</button>
      </div>
    </div>
  </div>
</div>
