<div class="row product-details">
  <div class="col-sm-6">
    <img class="img-fluid" src="{{ productData.image }}" alt="" />
  </div>
  <div class="col-sm-6">
    <div class="details">
      <h1>{{ productData.name }}</h1>
      <h3>Price : {{ productData.price }}</h3>
      <h6>Description : {{ productData.description }}</h6>

      <p>Quantity available: {{ productQuantity }}</p>

      <div class="quantity-group">
        <button (click)="handleQuantity('min')">-</button>
        <input type="text" value="{{ itemQuantity }}" />
        <button (click)="handleQuantity('plus')">+</button>
      </div>

      <button type="button" class="btn btn-secondary" (click)="addToCart()">
        Add to Cart
      </button>

      <button
        type="button"
        class="btn btn-secondary"
        *ngIf="canRemovedFromCart"
        (click)="removeFromCart(productData.id)"
      >
        Remove to Cart
      </button>

      <button type="button" class="btn btn-secondary" (click)="buyNow()">
        Buy Now
      </button>
    </div>
  </div>
</div>
