<div>
  <h2>My Cart</h2>

  <button (click)="onDeleteAllItems()" class="btn btn-primary">
    Empty Cart
  </button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartData.products">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td><img class="cart-image" src="{{ item.image }}" /></td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ priceSummary.total }}</td>
        <td>
          <button (click)="onDeleteItem(item.id)" class="btn btn-primary">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <h3>Summary</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span>Amount:</span><span>{{ priceSummary.price }}</span>
      </li>
      <li class="list-group-item">
        <span>Tax:</span><span>{{ priceSummary.tax }}</span>
      </li>
      <li class="list-group-item">
        <span>Delivery:</span><span>{{ priceSummary.delivery }}</span>
      </li>
      <li class="list-group-item">
        <span>Discount:</span><span>{{ priceSummary.discount }}</span>
      </li>
      <li class="list-group-item">
        <span><h4>Total:</h4></span>
        <span
          ><h4>{{ priceSummary.total }}</h4></span
        >
      </li>
    </ul>

    <button (click)="onShipping()" class="btn btn-primary">Checkout</button>
  </div>
</div>
