<div>
  <h3>Orders</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Total Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of ordersList">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.totalPrice }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="confirmOrder(order)"
          >
            Confirm Order
          </button>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="cancelOrder(order.id)"
          >
            Cancel Order
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Total Price: {{ totalPrice }}</p>
  <button type="button" class="btn btn-primary" (click)="confirmAllOrders()">
    Confirm All Orders
  </button>
</div>
