<div class="mb-2 mx-auto">
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onFilter()"
    class="d-flex align-items-stretch"
  >
    <input
      class="form-control"
      type="text"
      placeholder="Product Name"
      formControlName="name"
    />

    <select
      class="form-select"
      formControlName="category"
      aria-label="Default select example"
    >
      <option [value]="category.value" *ngFor="let category of CATEGORIES">
        {{ category.label }}
      </option>
    </select>

    <select
      class="form-select"
      formControlName="sort_order"
      aria-label="Default select example"
    >
      <option [value]="order" *ngFor="let order of SORT_ORDER">
        {{ order }}
      </option>
    </select>
    <input
      class="form-control"
      type="number"
      formControlName="priceMin"
      placeholder="Price Min"
    />
    <input
      class="form-control"
      type="number"
      formControlName="priceMax"
      placeholder="Price Max"
    />
    <button type="submit" class="btn btn-secondary">Search</button>
  </form>
</div>
