<div class="row product-details">
  <h3>My Profile</h3>
  <div class="col-sm-6">
    <!-- <img class="product-img" src="{{ userData.image }}" alt="" /> -->
  </div>
  <h4>{{ userData.fullName }}</h4>

  <div class="col-sm-6 mt-5">
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold"> Full Name: </span>
        <span> {{ userData.fullName }} </span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold">Username:</span>
        <span> {{ userData.username }} </span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold"> Email: </span>
        <span> {{ userData.email }} </span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold"> Phone: </span>
        <span> {{ userData.phone }} </span>
      </li>
    </ul>
  </div>
  <!-- <button class="btn btn-secondary">Go Products</button> -->
</div>
